body {
    background-color: #b3d8e6;
    font-family: Baskerville;
    font-size: 25px;
    text-align: center;
}
#showword{
    font-size: 45px;
    font-family: AppleMyungjo;
    text-align: center;
}
#hangman{
    font-size: 60px;
    text-align: center;
    font-family: "Baskerville Old Face";
}
#winner{
    text-align: center;
    font-size: 45px;
}
#lose{
    text-align: center;
    font-size: 45px;
}
